---
title: ニコ動で再生数１位が公式じゃないアニメ一覧 2011年
---

<h2>ニコ動で再生数１位が公式じゃないアニメ一覧 2011年</h2>
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/シュタインズ・ゲート?sort=v&order=d">シュタインズ・ゲート</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so14082872" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm15346128" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/かんなぎ?sort=v&order=d">かんなぎ</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so14031193" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm5472919" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/星空へ架かる橋?sort=v&order=d">星空へ架かる橋</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so14327328" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm14136261" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/俺たちに翼はない?sort=v&order=d">俺たちに翼はない</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so14327368" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm14534058" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/うたの☆プリンスさまっ♪?sort=v&order=d">うたの☆プリンスさまっ♪</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so14925099" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm20526080" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ゆるゆり?sort=v&order=d">ゆるゆり</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so14959606" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/nm18751391" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/快盗天使ツインエンジェル?sort=v&order=d">快盗天使ツインエンジェル</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so14951825" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm12031" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/R-15?sort=v&order=d">R-15</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so14989865" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm6752616" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/アイドルマスター?sort=v&order=d">アイドルマスター</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so24810540" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm280671" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/神様ドォルズ?sort=v&order=d">神様ドォルズ</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so14996498" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm15145702" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/灼眼のシャナ?sort=v&order=d">灼眼のシャナ</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so15863870" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm1349207" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/イカ娘?sort=v&order=d">イカ娘</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so15782543" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm12462465" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/未来日記?sort=v&order=d">未来日記</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so15809985" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm16543386" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ましろ色シンフォニー?sort=v&order=d">ましろ色シンフォニー</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so15799439" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm30733513" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ラストエグザイル?sort=v&order=d">ラストエグザイル</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so15937309" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm29085660" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/インフィニット・ストラトス?sort=v&order=d">インフィニット・ストラトス</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so15718335" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm22334204" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/プリティーリズム・オーロラドリーム?sort=v&order=d">プリティーリズム・オーロラドリーム</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so18789092" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm14195009" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/バクマン。?sort=v&order=d">バクマン。</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so19138437" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm13252169" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/フリージング?sort=v&order=d">フリージング</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so21751349" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm18807597" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<%= partial "back" %>