---
title: ニコ動で再生数１位が公式じゃないアニメ一覧 2012年
---

<h2>ニコ動で再生数１位が公式じゃないアニメ一覧 2012年</h2>
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/探偵オペラ_ミルキィホームズ?sort=v&order=d">探偵オペラ_ミルキィホームズ</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so16616924" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm17130145" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/カードファイト!!ヴァンガード?sort=v&order=d">カードファイト!!ヴァンガード</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so20630768" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm15813359" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/緋色の欠片?sort=v&order=d">緋色の欠片</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so17446343" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm17579894" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/アクセル・ワールド?sort=v&order=d">アクセル・ワールド</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so17472301" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm18970180" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/咲-Saki-?sort=v&order=d">咲-Saki-</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so17534558" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm9595431" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ヨルムンガンド?sort=v&order=d">ヨルムンガンド</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so17588890" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm19462742" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ラジオ?sort=v&order=d">ラジオ</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so18139055" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm29067805" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/織田信奈の野望?sort=v&order=d">織田信奈の野望</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so18328866" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm24238909" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/じょしらく?sort=v&order=d">じょしらく</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so18337007" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm18671016" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/人類は衰退しました?sort=v&order=d">人類は衰退しました</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so18262668" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm18393920" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/薄桜鬼?sort=v&order=d">薄桜鬼</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so18321065" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm9265520" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/プリティーリズム・ディアマイフューチャー?sort=v&order=d">プリティーリズム・ディアマイフューチャー</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so18789733" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm17483702" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ヨルムンガンド?sort=v&order=d">ヨルムンガンド</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so19139556" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm19462742" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/イクシオンサーガDT?sort=v&order=d">イクシオンサーガDT</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so19125650" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm19192274" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/K?sort=v&order=d">K</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so19093197" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm18763641" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/バクマン。?sort=v&order=d">バクマン。</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so19146248" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm13252169" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ToLOVEるダークネス?sort=v&order=d">ToLOVEるダークネス</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so19131713" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm19619027" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/この中に1人、妹がいる！?sort=v&order=d">この中に1人、妹がいる！</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so20430666" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm18683346" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<%= partial "back" %>