---
title: ニコ動で再生数１位が公式じゃないアニメ一覧 2015年
---

<h2>ニコ動で再生数１位が公式じゃないアニメ一覧 2015年</h2>
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/てさぐれ！部活もの?sort=v&order=d">てさぐれ！部活もの</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25944127" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm23282786" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/蒼穹のファフナー?sort=v&order=d">蒼穹のファフナー</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25309045" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm25356707" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/アイドルマスター?sort=v&order=d">アイドルマスター</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25307875" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm280671" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/アブソリュート・デュオ?sort=v&order=d">アブソリュート・デュオ</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25301648" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm25380147" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/夜ノヤッターマン?sort=v&order=d">夜ノヤッターマン</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25381347" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm25441334" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/デス・パレード?sort=v&order=d">デス・パレード</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25301205" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm25611119" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ミルキィホームズ?sort=v&order=d">ミルキィホームズ</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25295183" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm12686122" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/戦国無双?sort=v&order=d">戦国無双</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25357341" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm1040860" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ユリ熊嵐?sort=v&order=d">ユリ熊嵐</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25351426" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm25287094" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/少年ハリウッド?sort=v&order=d">少年ハリウッド</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25357505" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm24414272" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/デュエル・マスターズ?sort=v&order=d">デュエル・マスターズ</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25942689" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm23858344" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/血界戦線?sort=v&order=d">血界戦線</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25968063" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm26515642" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/シドニアの騎士?sort=v&order=d">シドニアの騎士</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so26019355" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm23254877" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/響け！ユーフォニアム?sort=v&order=d">響け！ユーフォニアム</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25987799" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm26733119" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ハイスクールD×D?sort=v&order=d">ハイスクールD×D</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so26032358" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm16492815" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/きんいろモザイク?sort=v&order=d">きんいろモザイク</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25981065" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm21955971" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ミカグラ学園組曲?sort=v&order=d">ミカグラ学園組曲</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25974093" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm19480453" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ニセコイ?sort=v&order=d">ニセコイ</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so26019254" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm23270118" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/うたの☆プリンスさまっ♪?sort=v&order=d">うたの☆プリンスさまっ♪</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25941943" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm20526080" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/アルスラーン戦記?sort=v&order=d">アルスラーン戦記</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so26019082" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm27367271" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ダイヤのA?sort=v&order=d">ダイヤのA</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so25994483" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm22526508" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/聖闘士星矢?sort=v&order=d">聖闘士星矢</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so26032624" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm27083739" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ガッチャマンクラウズインサイト?sort=v&order=d">ガッチャマンクラウズインサイト</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so26622669" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm26636276" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/Charlotte?sort=v&order=d">Charlotte</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so26617560" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm27003176" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/オーバーロード?sort=v&order=d">オーバーロード</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so26710070" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm27280691" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/干物妹！うまるちゃん?sort=v&order=d">干物妹！うまるちゃん</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so26674024" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm26893320" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ご注文はうさぎですか？？?sort=v&order=d">ご注文はうさぎですか？？</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so27369471" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm28031323" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/K?sort=v&order=d">K</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so27301431" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm18763641" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/影鰐-KAGEWANI-?sort=v&order=d">影鰐-KAGEWANI-</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so27278351" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm28692732" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/牙狼?sort=v&order=d">牙狼</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so27374941" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm29227702" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ヴァルキリードライヴマーメイド?sort=v&order=d">ヴァルキリードライヴマーメイド</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so27330589" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm27544795" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ハイキュー!!?sort=v&order=d">ハイキュー!!</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so27308769" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm24872458" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/おそ松さん?sort=v&order=d">おそ松さん</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so27331725" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm27583432" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ゆるゆり?sort=v&order=d">ゆるゆり</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so27322846" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/nm18751391" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/うたわれるもの?sort=v&order=d">うたわれるもの</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so27324219" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/nm4703811" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<h3><a target="_blank" href="https://www.nicovideo.jp/tag/ルパン三世?sort=v&order=d">ルパン三世</a></h3>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/so27811659" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<iframe width="312" height="176" src="https://ext.nicovideo.jp/thumb/sm21606743" scrolling="no" style="border:solid 1px #ccc;" frameborder="0"></iframe>
<hr />
<%= partial "back" %>